 .sf-menu,
 .sf-menu * {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .sf-menu li {
   position: relative;
 }

 .sf-menu ul {
   position: absolute;
   display: none;
   top: 100%;
   left: 0;
   z-index: 99;
 }

 .sf-menu>li {
   float: left;
 }

 .sf-menu li:hover>ul,
 .sf-menu li.sfHover>ul {
   display: block;
 }

 .sf-menu a {
   display: block;
   position: relative;
 }

 .sf-menu ul ul {
   top: 0;
   left: 100%;
 }

 /*** DEMO SKIN ***/
 .sf-menu {
   float: left;
   margin-bottom: 1em;
 }

 /*** arrows (for all except IE7) **/
 .sf-arrows .sf-with-ul {
   padding-right: 2.5em;
   *padding-right: 1em;
   /* no CSS arrows for IE7 (lack pseudo-elements) */
 }

 /* styling for both css and generated arrows */
 .sf-arrows .sf-with-ul:after {
   content: '';
 }

 .align-fields-center {
   text-align: center !important;
 }

 .enviro-color {
   color: #35885d !important;
 }

 .breadcrumb-content>span:nth-child(1):after,
 .breadcrumb-content>span:nth-child(2):after {
   background: #fff;
 }

 .breadcrumb-content>span:nth-child(1) a span,
 .breadcrumb-content>span:nth-child(2) a span {
   color: #fff;
 }